{% extends "base.html" %} {%block title%}Ping Utility{%endblock%} {%block
content%}
<form method="post">
  <h3 align="center">Add new URL to track</h3>
  <div class="form-group">
    <label for="url">URL</label>
    <input
      type="url"
      name="url"
      id="url"
      class="form-control"
      placeholder="Enter URL you want to track "
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Track URL</button>
</form>
<hr />
<h3 align="center">The URLs you are tracking</h3>
<ul class="list-group list-group-flush" id="notes">
  {% if userUrls != None %} {% for url in userUrls%}
  <li class="list-group-item">
    URL: {{url['url']}} STATUS: {{url['status']}}
    <i class="fa-solid fa-cloud-question"></i>
  </li>
  {%endfor%}{% else %}
  <li>You currently are not tracking any urls</li>
  {% endif %}
</ul>

{%endblock%}
